{% if shop.metafields.custom_fields["featured_courses"] != blank %}
  <div class="custom-field custom-field__featured-courses custom-field__type--product-reference">
    <h3 class="custom-field--title">Featured Courses</h3>
    <div class="custom-field--value">  
    {% assign product_refs = shop.metafields.custom_fields["featured_courses"] | split: "|" %}
      <ul>
        {% for product_handle in product_refs %}
          <li>
            {% assign product_ref = all_products[product_handle] %}
            {{ product_ref.title | link_to: product_ref.url }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}