<div class="container">
     <div class="footer-top-contact"> 
      <div class="row">
        
        <div class="col-md-4">
          <div class="f-address">
            <div class="img-block"><img src="{{ '88-icon.svg' | asset_url }}" /></div>
            <div class="address-content">
            <p>Our Address</p>
            <span>Unit XX, St, NSW 2000</span>
              </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="f-phone">
            <div class="img-block"><img src="{{ '90-icon.svg' | asset_url }}" /></div>
            <div class="address-content"><p>Phone Us</p>
              <a class="phone_number_class" href="tel:1300 244 251">1300 244 251</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="f-Email">
            <div class="img-block"><img src="{{ '89-icon.svg' | asset_url }}" /></div>
           <div class="address-content"> 
             <p>Email Us</p>
             <a class="phone_number_class" href="mailto:info@theoffgridshop.com.au">info@theoffgridshop.com.au</a>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
