<section class="clearfix contact-page-map-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h4>WHAT MAKES US SO DIFFERENT?</h4>
      <p>Installing batteries or solar is not a decision you want to rush into. It is a decision when you get right you will enjoy for 25 years plus.</p>
      <p>At The Off-Grid Shop our intention is to educate you to the best of our abilities so you can make the best educated decision possible for you and your family.</p>
      <p>We run our lives from batteries and have years of experience of the good times and the not so good times to share with you on your journey of going off-grid or installing a small battery bank to run dedicated circuits.</p>
      <br />
        <p>Our team are passionate about getting you the best system for your energy demands and once you talk to one of our team members you will know how passionate we are.</p>
      
        <p>*Please note we operate by appointment only .<br>
      <!--Address: Shop 2, 27 Snow Street, South Lismore NSW 2480--></p>
    </div>
    </div>
  </div>
  <div class="row contact-section mx-0">  
  <!--<div class="col-md-12">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424146.10304849216!2d150.65177748934312!3d-33.84735664227738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%20NSW!5e0!3m2!1sen!2sau!4v1613115899991!5m2!1sen!2sau" width="100%" height="770" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
</iframe>
  </div>-->
  <div class="col-12 col-md-6 col-lg-5 mx-auto pt-3">
		{{ 'validation.js' | asset_url | script_tag }}
        {{ 'zoho-css.css' | asset_url | stylesheet_tag }}
    	<form
			action='https://forms.zohopublic.com.au/Theoffgridshop/form/ContactUsPage/formperma/jQhoY0nl_eFdP09OPYGs7In3zmpISB-l26jrmXKpZPg/htmlRecords/submit'
			name='form' method='POST' onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();'
			accept-charset='UTF-8' enctype='multipart/form-data' id='form'><input type="hidden" name="zf_referrer_name"
				value="">
			<!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
			<input type="hidden" name="zf_redirect_url" value="">
			<!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
			<input type="hidden" name="zc_gad" value="">
			<!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
			<div class="zf-templateWrapper">
				<!---------template Header Starts Here---------->
				<ul class="zf-tempHeadBdr">
					<li class="zf-tempHeadContBdr">
						<h2 class="zf-frmTitle text-center" style="text-transform: capitalize !important;">Contact Us</h2>
						<p class="zf-frmDesc"></p>
						<div class="zf-clearBoth"></div>
					</li>
				</ul>
				<!---------template Header Ends Here---------->
				<!---------template Container Starts Here---------->
				<div class="zf-subContWrap zf-topAlign">
					<ul>
						<!---------Name Starts Here---------->
						<li class="zf-tempFrmWrapper zf-name zf-namemedium"><label class="zf-labelName">Full name
								<em class="zf-important">*</em>
							</label>
							<div class="zf-tempContDiv zf-twoType">
								<div class="zf-nameWrapper">
									<span> <input type="text" maxlength="255" name="Name_First"
											fieldType=7 /><label>First</label> </span>
									</span> </span>
									<span> <input type="text" maxlength="255" name="Name_Last"
											fieldType=7 /><label>Last</label> </span>
									</span> </span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="Name_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Name Ends Here---------->
						<!--address-->
						<!---------Address Starts Here---------->
						<li class="zf-tempFrmWrapper zf-address zf-addrlarge "><label class="zf-labelName">Address
							</label>
							<div class="zf-tempContDiv zf-address">
								<div class="zf-addrCont">
									<span class="zf-addOne"> <input type="text" maxlength="255"
											name="Address_AddressLine1" checktype="c1" /><label>Street Address</label>
									</span>
									<span class="zf-addOne"> <input type="text" maxlength="255"
											name="Address_AddressLine2" checktype="c1" /><label>Address Line 2</label>
									</span>
									<span class="zf-flLeft zf-addtwo"> <input type="text" maxlength="255"
											name="Address_City" checktype="c1" /><label>City</label> </span>
									<span class="zf-flLeft zf-addtwo"> <input type="text" maxlength="255"
											name="Address_Region" checktype="c1" /><label>State/Region/Province</label>
									</span>
									<span class="zf-flLeft zf-addtwo"> <input type="text" maxlength="255"
											name="Address_ZipCode" checktype="c1" /><label>Postal / Zip Code</label>
									</span>
									<span class="zf-flLeft zf-addtwo"> <select class="zf-form-sBox"
											name="Address_Country" checktype="c1">
											<option>-Select-</option>
											<option>&Aring;land Islands</option>
											<option>Afghanistan</option>
											<option>Akrotiri</option>
											<option>Albania</option>
											<option>Algeria</option>
											<option>American Samoa</option>
											<option>Andorra</option>
											<option>Angola</option>
											<option>Anguilla</option>
											<option>Antarctica</option>
											<option>Antigua and Barbuda</option>
											<option>Argentina</option>
											<option>Armenia</option>
											<option>Aruba</option>
											<option>Ashmore and Cartier Islands</option>
											<option>Australia</option>
											<option>Austria</option>
											<option>Azerbaijan</option>
											<option>Bahrain</option>
											<option>Bangladesh</option>
											<option>Barbados</option>
											<option>Bassas Da India</option>
											<option>Belarus</option>
											<option>Belgium</option>
											<option>Belize</option>
											<option>Benin</option>
											<option>Bermuda</option>
											<option>Bhutan</option>
											<option>Bolivia</option>
											<option>Bosnia and Herzegovina</option>
											<option>Botswana</option>
											<option>Bouvet Island</option>
											<option>Brazil</option>
											<option>British Indian Ocean Territory</option>
											<option>British Virgin Islands</option>
											<option>Brunei</option>
											<option>Bulgaria</option>
											<option>Burkina Faso</option>
											<option>Burma</option>
											<option>Burundi</option>
											<option>Cambodia</option>
											<option>Cameroon</option>
											<option>Canada</option>
											<option>Cape Verde</option>
											<option>Caribbean Netherlands</option>
											<option>Cayman Islands</option>
											<option>Central African Republic</option>
											<option>Chad</option>
											<option>Chile</option>
											<option>China</option>
											<option>Christmas Island</option>
											<option>Clipperton Island</option>
											<option>Cocos &#x28;Keeling&#x29; Islands</option>
											<option>Colombia</option>
											<option>Comoros</option>
											<option>Cook Islands</option>
											<option>Coral Sea Islands</option>
											<option>Costa Rica</option>
											<option>Cote D&#x27;Ivoire</option>
											<option>Croatia</option>
											<option>Cuba</option>
											<option>Cura&ccedil;ao</option>
											<option>Cyprus</option>
											<option>Czech Republic</option>
											<option>Democratic Republic of the Congo</option>
											<option>Denmark</option>
											<option>Dhekelia</option>
											<option>Djibouti</option>
											<option>Dominica</option>
											<option>Dominican Republic</option>
											<option>Ecuador</option>
											<option>Egypt</option>
											<option>El Salvador</option>
											<option>Equatorial Guinea</option>
											<option>Eritrea</option>
											<option>Estonia</option>
											<option>Ethiopia</option>
											<option>Europa Island</option>
											<option>Falkland Islands &#x28;Islas Malvinas&#x29;</option>
											<option>Faroe Islands</option>
											<option>Federated States of Micronesia</option>
											<option>Fiji</option>
											<option>Finland</option>
											<option>France</option>
											<option>French Guiana</option>
											<option>French Polynesia</option>
											<option>French Southern and Antarctic Lands</option>
											<option>Gabon</option>
											<option>Gaza Strip</option>
											<option>Georgia</option>
											<option>Germany</option>
											<option>Ghana</option>
											<option>Gibraltar</option>
											<option>Glorioso Islands</option>
											<option>Greece</option>
											<option>Greenland</option>
											<option>Grenada</option>
											<option>Guadeloupe</option>
											<option>Guam</option>
											<option>Guatemala</option>
											<option>Guernsey</option>
											<option>Guinea</option>
											<option>Guinea-bissau</option>
											<option>Guyana</option>
											<option>Haiti</option>
											<option>Heard Island and Mcdonald Islands</option>
											<option>Holy See &#x28;Vatican City&#x29;</option>
											<option>Honduras</option>
											<option>Hong Kong</option>
											<option>Hungary</option>
											<option>Iceland</option>
											<option>India</option>
											<option>Indonesia</option>
											<option>Iran</option>
											<option>Iraq</option>
											<option>Ireland</option>
											<option>Isle of Man</option>
											<option>Israel</option>
											<option>Italy</option>
											<option>Jamaica</option>
											<option>Jan Mayen</option>
											<option>Japan</option>
											<option>Jersey</option>
											<option>Jordan</option>
											<option>Juan De Nova Island</option>
											<option>Kazakhstan</option>
											<option>Kenya</option>
											<option>Kiribati</option>
											<option>Kuwait</option>
											<option>Kyrgyzstan</option>
											<option>Laos</option>
											<option>Latvia</option>
											<option>Lebanon</option>
											<option>Lesotho</option>
											<option>Liberia</option>
											<option>Libya</option>
											<option>Liechtenstein</option>
											<option>Lithuania</option>
											<option>Luxembourg</option>
											<option>Macau</option>
											<option>Macedonia</option>
											<option>Madagascar</option>
											<option>Malawi</option>
											<option>Malaysia</option>
											<option>Maldives</option>
											<option>Mali</option>
											<option>Malta</option>
											<option>Marshall Islands</option>
											<option>Martinique</option>
											<option>Mauritania</option>
											<option>Mauritius</option>
											<option>Mayotte</option>
											<option>Mexico</option>
											<option>Moldova</option>
											<option>Monaco</option>
											<option>Mongolia</option>
											<option>Montenegro</option>
											<option>Montserrat</option>
											<option>Morocco</option>
											<option>Mozambique</option>
											<option>Myanmar</option>
											<option>Namibia</option>
											<option>Nauru</option>
											<option>Navassa Island</option>
											<option>Nepal</option>
											<option>Netherlands</option>
											<option>Netherlands Antilles</option>
											<option>New Caledonia</option>
											<option>New Zealand</option>
											<option>Nicaragua</option>
											<option>Niger</option>
											<option>Nigeria</option>
											<option>Niue</option>
											<option>Norfolk Island</option>
											<option>North Korea</option>
											<option>Northern Mariana Islands</option>
											<option>Norway</option>
											<option>Oman</option>
											<option>Pakistan</option>
											<option>Palau</option>
											<option>Palestine</option>
											<option>Panama</option>
											<option>Papua New Guinea</option>
											<option>Paracel Islands</option>
											<option>Paraguay</option>
											<option>Peru</option>
											<option>Philippines</option>
											<option>Pitcairn Islands</option>
											<option>Poland</option>
											<option>Portugal</option>
											<option>Puerto Rico</option>
											<option>Qatar</option>
											<option>Republic of the Congo</option>
											<option>Reunion</option>
											<option>Romania</option>
											<option>Russia</option>
											<option>Rwanda</option>
											<option>Saint Barth&Atilde;&copy;lemy</option>
											<option>Saint Helena</option>
											<option>Saint Kitts and Nevis</option>
											<option>Saint Lucia</option>
											<option>Saint Martin</option>
											<option>Saint Pierre and Miquelon</option>
											<option>Saint Vincent and the Grenadines</option>
											<option>Samoa</option>
											<option>San Marino</option>
											<option>Sao Tome and Principe</option>
											<option>Saudi Arabia</option>
											<option>Senegal</option>
											<option>Serbia</option>
											<option>Seychelles</option>
											<option>Sierra Leone</option>
											<option>Singapore</option>
											<option>Sint Maarten</option>
											<option>Slovakia</option>
											<option>Slovenia</option>
											<option>Solomon Islands</option>
											<option>Somalia</option>
											<option>South Africa</option>
											<option>South Georgia and the South Sandwich Islands</option>
											<option>South Korea</option>
											<option>South Sudan</option>
											<option>Spain</option>
											<option>Spratly Islands</option>
											<option>Sri Lanka</option>
											<option>Sudan</option>
											<option>Suriname</option>
											<option>Svalbard</option>
											<option>Swaziland</option>
											<option>Sweden</option>
											<option>Switzerland</option>
											<option>Syria</option>
											<option>Taiwan</option>
											<option>Tajikistan</option>
											<option>Tanzania</option>
											<option>Thailand</option>
											<option>The Bahamas</option>
											<option>The Gambia</option>
											<option>Timor-leste</option>
											<option>Togo</option>
											<option>Tokelau</option>
											<option>Tonga</option>
											<option>Trinidad and Tobago</option>
											<option>Tromelin Island</option>
											<option>Tunisia</option>
											<option>Turkey</option>
											<option>Turkmenistan</option>
											<option>Turks and Caicos Islands</option>
											<option>Tuvalu</option>
											<option>Uganda</option>
											<option>Ukraine</option>
											<option>United Arab Emirates</option>
											<option>United Kingdom</option>
											<option>United States</option>
											<option>Uruguay</option>
											<option>Uzbekistan</option>
											<option>Vanuatu</option>
											<option>Venezuela</option>
											<option>Vietnam</option>
											<option>Virgin Islands</option>
											<option>Wake Island</option>
											<option>Wallis and Futuna</option>
											<option>West Bank</option>
											<option>Western Sahara</option>
											<option>Yemen</option>
											<option>Zambia</option>
											<option>Zimbabwe</option>
										</select><label>Country</label> </span>
									<div class="zf-clearBoth"></div>
									<p id="Address_error" class="zf-errorMessage" style="display:none;">Invalid value
									</p>
								</div>
							</div>
							<div class="zf-eclearBoth"></div>
						</li>
						<!---------Address Ends Here---------->
						<!---------Email Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Email
								<em class="zf-important">*</em>
							</label>
							<div class="zf-tempContDiv"><span> <input fieldType=9 type="text" maxlength="255"
										name="Email" checktype="c5" value="" /></span>
								<p id="Email_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Email Ends Here---------->
						<!---------Phone Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Phone
							</label>
							<div class="zf-tempContDiv zf-phonefld">
								<div class="zf-phwrapper zf-phNumber">
									<span> <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode"
											maxlength="20" checktype="c7" value="" phoneFormat="1"
											isCountryCodeEnabled=false fieldType="11"
											id="international_PhoneNumber_countrycode" valType="number"
											phoneFormatType="1" />
										<label>Number</label> </span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="PhoneNumber_error" class="zf-errorMessage" style="display:none;">Invalid value
								</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Phone Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Do you currently have mains
								power connected to your property?
								<em class="zf-important">*</em>
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option
										value="No,&#x20;I&#x20;am&#x20;not&#x20;connected&#x20;to&#x20;the&#x20;grid">
										No, I am not connected to the grid</option>
									<option
										value="Yes,&#x20;I&#x20;am&#x20;currently&#x20;&#x28;or&#x20;can&#x20;be&#x29;&#x20;connected&#x20;to&#x20;the&#x20;grid,&#x20;but&#x20;want&#x20;to&#x20;go&#x20;off-grid">
										Yes, I am currently &#x28;or can be&#x29; connected to the grid, but want to go
										off-grid</option>
								</select>
								<p id="Dropdown_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Checkbox Starts Here---------->
						<li class="zf-checkbox zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">What do you
								require to supply power to?
								<em class="zf-important">*</em>
							</label>
							<div class="zf-tempContDiv">
								<div class="zf-overflow">
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_1" name="Checkbox"
											checktype="c1" value="A&#x20;small&#x20;cabin" />
										<label for="Checkbox_1" class="zf-checkChoice">A&#x20;small&#x20;cabin</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_2" name="Checkbox"
											checktype="c1" value="Granny&#x20;flat" />
										<label for="Checkbox_2" class="zf-checkChoice">Granny&#x20;flat</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_3" name="Checkbox"
											checktype="c1"
											value="Small&#x20;house&#x20;&#x28;2-3&#x20;bedrooms&#x29;" />
										<label for="Checkbox_3"
											class="zf-checkChoice">Small&#x20;house&#x20;&#x28;2-3&#x20;bedrooms&#x29;</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_4" name="Checkbox"
											checktype="c1"
											value="Medium&#x20;House&#x20;&#x28;4-5&#x20;Bedrooms&#x29;" />
										<label for="Checkbox_4"
											class="zf-checkChoice">Medium&#x20;House&#x20;&#x28;4-5&#x20;Bedrooms&#x29;</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_5" name="Checkbox"
											checktype="c1"
											value="Large&#x20;House&#x20;&#x28;6&#x2b;&#x20;bedrooms&#x29;" />
										<label for="Checkbox_5"
											class="zf-checkChoice">Large&#x20;House&#x20;&#x28;6&#x2b;&#x20;bedrooms&#x29;</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_6" name="Checkbox"
											checktype="c1" value="Property&#x20;with&#x20;multiple&#x20;dwellings" />
										<label for="Checkbox_6"
											class="zf-checkChoice">Property&#x20;with&#x20;multiple&#x20;dwellings</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_7" name="Checkbox"
											checktype="c1" value="Remote&#x20;work&#x20;site" />
										<label for="Checkbox_7"
											class="zf-checkChoice">Remote&#x20;work&#x20;site</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_8" name="Checkbox"
											checktype="c1" value="Shed" />
										<label for="Checkbox_8" class="zf-checkChoice">Shed</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_9" name="Checkbox"
											checktype="c1" value="Shed&#x20;with&#x20;workshop" />
										<label for="Checkbox_9"
											class="zf-checkChoice">Shed&#x20;with&#x20;workshop</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_10" name="Checkbox"
											checktype="c1" value="Pool" />
										<label for="Checkbox_10" class="zf-checkChoice">Pool</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_11" name="Checkbox"
											checktype="c1" value="Pool&#x20;with&#x20;spa" />
										<label for="Checkbox_11" class="zf-checkChoice">Pool&#x20;with&#x20;spa</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox_12" name="Checkbox"
											checktype="c1" value="Home&#x20;business&#x20;equipment" />
										<label for="Checkbox_12"
											class="zf-checkChoice">Home&#x20;business&#x20;equipment</label> </span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="Checkbox_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
								<p class="zf-instruction">Please select multiple options if they apply to you</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Checkbox Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Where would you like the
								solar panels installed?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown1" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="On&#x20;the&#x20;house">On the house</option>
									<option value="On&#x20;the&#x20;shed">On the shed</option>
									<option value="Ground&#x20;mounted">Ground mounted</option>
									<option value="Open&#x20;to&#x20;our&#x20;recommendations">Open to our
										recommendations</option>
								</select>
								<p id="Dropdown1_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">What is the roof made of?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown2" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Colorbond&#x20;or&#x20;similar&#x20;corrugated&#x20;tin">Colorbond or
										similar corrugated tin</option>
									<option
										value="Trim&#x20;Deck&#x20;Tin&#x20;&#x28;looks&#x20;like&#x20;colorbond&#x20;but&#x20;has&#x20;a&#x20;square&#x20;profile&#x29;but&#x20;has&#x20;a">
										Trim Deck Tin &#x28;looks like colorbond but has a square profile&#x29;but has a
									</option>
									<option value="Tiles&#x20;&#x28;concrete&#x20;or&#x20;terracotta&#x29;">Tiles
										&#x28;concrete or terracotta&#x29;</option>
									<option value="Chiploc&#x20;tin&#x20;&#x28;no&#x20;visible&#x20;screws&#x29;">
										Chiploc tin &#x28;no visible screws&#x29;</option>
								</select>
								<p id="Dropdown2_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">What direction does the roof
								face?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown3" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="North">North</option>
									<option value="North-East">North-East</option>
									<option value="North-West">North-West</option>
									<option value="East">East</option>
									<option value="South-East">South-East</option>
									<option value="West">West</option>
									<option value="South-West">South-West</option>
									<option value="South">South</option>
								</select>
								<p id="Dropdown3_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Will your roof be shaded for
								part of the day?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown4" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="No&#x20;shading">No shading</option>
									<option value="Partial&#x20;shading&#x20;across&#x20;the&#x20;day">Partial shading
										across the day</option>
									<option
										value="A&#x20;large&#x20;amount&#x20;of&#x20;shading&#x20;throughout&#x20;the&#x20;day">
										A large amount of shading throughout the day</option>
								</select>
								<p id="Dropdown4_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Single Line Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">How many people are living at
								the property?
							</label>
							<div class="zf-tempContDiv"><span> <input type="text" name="SingleLine" checktype="c1"
										value="" maxlength="255" fieldType=1 /></span>
								<p id="SingleLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
								<p class="zf-instruction">Please specify adults, teenagers and children</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Single Line Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Will you be living there full
								time?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown5" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Yes,&#x20;this&#x20;is&#x20;our&#x20;permanent&#x20;residence">Yes,
										this is our permanent residence</option>
									<option value="Only&#x20;weekends">Only weekends</option>
									<option value="Sometimes&#x20;&#x28;on&#x20;and&#x20;off&#x29;">Sometimes &#x28;on
										and off&#x29;</option>
								</select>
								<p id="Dropdown5_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Do you require single phase
								or three phase?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown6" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Single&#x20;phase">Single phase</option>
									<option value="Three&#x20;phase">Three phase</option>
									<option value="Not&#x20;sure">Not sure</option>
								</select>
								<p id="Dropdown6_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Checkbox Starts Here---------->
						<li class="zf-checkbox zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Tell us
								about your lighting
							</label>
							<div class="zf-tempContDiv">
								<div class="zf-overflow">
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox1_1" name="Checkbox1"
											checktype="c1" value="LED&#x20;lights" />
										<label for="Checkbox1_1" class="zf-checkChoice">LED&#x20;lights</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox1_2" name="Checkbox1"
											checktype="c1" value="Compact&#x20;fluro&#x20;or&#x20;fluro&#x20;tubes" />
										<label for="Checkbox1_2"
											class="zf-checkChoice">Compact&#x20;fluro&#x20;or&#x20;fluro&#x20;tubes</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox1_3" name="Checkbox1"
											checktype="c1" value="Traditional&#x20;bulbs" />
										<label for="Checkbox1_3" class="zf-checkChoice">Traditional&#x20;bulbs</label>
									</span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="Checkbox1_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
								<p class="zf-instruction">Select multiple choices if you have a mixture</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Checkbox Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Tell us about your hot water
								system?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown7" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Gas&#x20;hot&#x20;water">Gas hot water</option>
									<option value="Solar&#x20;hot&#x20;water&#x20;with&#x20;gas&#x20;boost">Solar hot
										water with gas boost</option>
									<option value="Solar&#x20;hot&#x20;water&#x20;with&#x20;electric&#x20;boost">Solar
										hot water with electric boost</option>
									<option value="Electric&#x20;hot&#x20;water&#x20;system">Electric hot water system
									</option>
									<option value="no&#x20;hot&#x20;water&#x20;required">no hot water required</option>
								</select>
								<p id="Dropdown7_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">What type of cooktop do you
								have?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown8" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Gas&#x20;cooktop">Gas cooktop</option>
									<option value="Electric&#x20;cooktop">Electric cooktop</option>
									<option value="Electric&#x20;induction&#x20;cooktop">Electric induction cooktop
									</option>
									<option value="No&#x20;cooktop">No cooktop</option>
								</select>
								<p id="Dropdown8_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">What type of oven will be
								powered?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown9" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Electric&#x20;oven">Electric oven</option>
									<option value="Gas&#x20;oven">Gas oven</option>
									<option value="No&#x20;oven">No oven</option>
								</select>
								<p id="Dropdown9_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">What pump/s do you use?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown10" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="No&#x20;pumps">No pumps</option>
									<option
										value="Standard&#x20;home&#x20;pressure&#x20;pump&#x20;&#x28;500-1000&#x20;watts&#x29;">
										Standard home pressure pump &#x28;500-1000 watts&#x29;</option>
									<option
										value="High&#x20;pressure,&#x20;bore&#x20;or&#x20;irrigation&#x20;pump&#x20;&#x28;larger&#x20;than&#x20;1000&#x20;watts&#x29;">
										High pressure, bore or irrigation pump &#x28;larger than 1000 watts&#x29;
									</option>
								</select>
								<p id="Dropdown10_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Checkbox Starts Here---------->
						<li class="zf-checkbox zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Which
								kitchen applicances will you be using?
							</label>
							<div class="zf-tempContDiv">
								<div class="zf-overflow">
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_1" name="Checkbox2"
											checktype="c1" value="Electric&#x20;kettle" />
										<label for="Checkbox2_1" class="zf-checkChoice">Electric&#x20;kettle</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_2" name="Checkbox2"
											checktype="c1" value="Electric&#x20;toaster" />
										<label for="Checkbox2_2" class="zf-checkChoice">Electric&#x20;toaster</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_3" name="Checkbox2"
											checktype="c1" value="Fridge" />
										<label for="Checkbox2_3" class="zf-checkChoice">Fridge</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_4" name="Checkbox2"
											checktype="c1" value="Additional&#x20;fridge&#x20;or&#x20;freezer" />
										<label for="Checkbox2_4"
											class="zf-checkChoice">Additional&#x20;fridge&#x20;or&#x20;freezer</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_5" name="Checkbox2"
											checktype="c1" value="Blender" />
										<label for="Checkbox2_5" class="zf-checkChoice">Blender</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_6" name="Checkbox2"
											checktype="c1" value="Coffee&#x20;machine" />
										<label for="Checkbox2_6" class="zf-checkChoice">Coffee&#x20;machine</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_7" name="Checkbox2"
											checktype="c1" value="Microwave" />
										<label for="Checkbox2_7" class="zf-checkChoice">Microwave</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_8" name="Checkbox2"
											checktype="c1" value="Electric&#x20;frypan" />
										<label for="Checkbox2_8" class="zf-checkChoice">Electric&#x20;frypan</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_9" name="Checkbox2"
											checktype="c1" value="Thermomix&#x20;or&#x20;similar" />
										<label for="Checkbox2_9"
											class="zf-checkChoice">Thermomix&#x20;or&#x20;similar</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox2_10"
											name="Checkbox2" checktype="c1" value="Dishwasher" />
										<label for="Checkbox2_10" class="zf-checkChoice">Dishwasher</label> </span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="Checkbox2_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
								<p class="zf-instruction">Please select multiple items that apply to you</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Checkbox Ends Here---------->
						<!---------Checkbox Starts Here---------->
						<li class="zf-checkbox zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Which
								appliances you will have in the rest of your home?
							</label>
							<div class="zf-tempContDiv">
								<div class="zf-overflow">
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_1" name="Checkbox3"
											checktype="c1" value="Clothes&#x20;dryer" />
										<label for="Checkbox3_1" class="zf-checkChoice">Clothes&#x20;dryer</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_2" name="Checkbox3"
											checktype="c1" value="Washing&#x20;machine" />
										<label for="Checkbox3_2" class="zf-checkChoice">Washing&#x20;machine</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_3" name="Checkbox3"
											checktype="c1" value="Large&#x20;TV" />
										<label for="Checkbox3_3" class="zf-checkChoice">Large&#x20;TV</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_4" name="Checkbox3"
											checktype="c1" value="Small&#x20;TV" />
										<label for="Checkbox3_4" class="zf-checkChoice">Small&#x20;TV</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_5" name="Checkbox3"
											checktype="c1" value="Vacuum&#x20;cleaner" />
										<label for="Checkbox3_5" class="zf-checkChoice">Vacuum&#x20;cleaner</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_6" name="Checkbox3"
											checktype="c1" value="Gaming&#x20;console" />
										<label for="Checkbox3_6" class="zf-checkChoice">Gaming&#x20;console</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_7" name="Checkbox3"
											checktype="c1" value="Desktop&#x20;computer&#x20;with&#x20;monitor" />
										<label for="Checkbox3_7"
											class="zf-checkChoice">Desktop&#x20;computer&#x20;with&#x20;monitor</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_8" name="Checkbox3"
											checktype="c1" value="Laptop&#x20;computer" />
										<label for="Checkbox3_8" class="zf-checkChoice">Laptop&#x20;computer</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_9" name="Checkbox3"
											checktype="c1" value="Printer" />
										<label for="Checkbox3_9" class="zf-checkChoice">Printer</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_10"
											name="Checkbox3" checktype="c1" value="Landline&#x20;phone" />
										<label for="Checkbox3_10" class="zf-checkChoice">Landline&#x20;phone</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_11"
											name="Checkbox3" checktype="c1" value="Internet&#x20;modem" />
										<label for="Checkbox3_11" class="zf-checkChoice">Internet&#x20;modem</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_12"
											name="Checkbox3" checktype="c1"
											value="Mobile&#x20;phone&#x20;charger&#x2f;s" />
										<label for="Checkbox3_12"
											class="zf-checkChoice">Mobile&#x20;phone&#x20;charger&#x2f;s</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox3_13"
											name="Checkbox3" checktype="c1" value="Ceiling&#x20;fans" />
										<label for="Checkbox3_13" class="zf-checkChoice">Ceiling&#x20;fans</label>
									</span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="Checkbox3_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Checkbox Ends Here---------->
						<!---------Checkbox Starts Here---------->
						<li class="zf-checkbox zf-tempFrmWrapper zf-oneColumns"><label class="zf-labelName">Will you be
								using air conditioning?
							</label>
							<div class="zf-tempContDiv">
								<div class="zf-overflow">
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox4_1" name="Checkbox4"
											checktype="c1" value="No&#x20;Air&#x20;Conditioning" />
										<label for="Checkbox4_1"
											class="zf-checkChoice">No&#x20;Air&#x20;Conditioning</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox4_2" name="Checkbox4"
											checktype="c1"
											value="Old&#x20;style&#x20;window&#x20;or&#x20;wall&#x20;unit" />
										<label for="Checkbox4_2"
											class="zf-checkChoice">Old&#x20;style&#x20;window&#x20;or&#x20;wall&#x20;unit</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox4_3" name="Checkbox4"
											checktype="c1" value="Old&#x20;style&#x20;split&#x20;system" />
										<label for="Checkbox4_3"
											class="zf-checkChoice">Old&#x20;style&#x20;split&#x20;system</label> </span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox4_4" name="Checkbox4"
											checktype="c1" value="DC&#x20;inverter&#x20;split&#x20;system" />
										<label for="Checkbox4_4"
											class="zf-checkChoice">DC&#x20;inverter&#x20;split&#x20;system</label>
									</span>
									<span class="zf-multiAttType">
										<input class="zf-checkBoxType" type="checkbox" id="Checkbox4_5" name="Checkbox4"
											checktype="c1" value="Ducted&#x20;air&#x20;conditioning" />
										<label for="Checkbox4_5"
											class="zf-checkChoice">Ducted&#x20;air&#x20;conditioning</label> </span>
									<div class="zf-clearBoth"></div>
								</div>
								<p id="Checkbox4_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Checkbox Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">How many rooms have air
								conditioning?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown11" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="More&#x20;than&#x20;6">More than 6</option>
								</select>
								<p id="Dropdown11_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Dropdown Starts Here---------->
						<li class="zf-tempFrmWrapper zf-small"><label class="zf-labelName">Size of air conditioning
								unit?
							</label>
							<div class="zf-tempContDiv"><select class="zf-form-sBox" name="Dropdown12" checktype="c1">
									<option selected="true" value="-Select-">-Select-</option>
									<option value="Not&#x20;applicable">Not applicable</option>
									<option value="2.5kw">2.5kw</option>
									<option value="3-4kw">3-4kw</option>
									<option value="5-6kw">5-6kw</option>
									<option value="7-8kw">7-8kw</option>
									<option value="More&#x20;than&#x20;10kw">More than 10kw</option>
								</select>
								<p id="Dropdown12_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Dropdown Ends Here---------->
						<!---------Multiple Line Starts Here---------->
						<li class="zf-tempFrmWrapper zf-large"><label class="zf-labelName">Please let us know any other
								appliances you wish to power or any other comments
							</label>
							<div class="zf-tempContDiv"><span> <textarea name="MultiLine" checktype="c1"
										maxlength="65535"></textarea> </span>
								<p id="MultiLine_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
							</div>
							<div class="zf-clearBoth"></div>
						</li>
						<!---------Multiple Line Ends Here---------->
					</ul>
				</div>
				<!---------template Container Starts Here---------->
				<ul>
					<li class="zf-fmFooter"><button class="zf-submitColor">Submit</button></li>
				</ul>
			</div><!-- 'zf-templateWrapper' ends -->
		</form>
		<script type="text/javascript">
          var zf_DateRegex = new RegExp(
              "^(([0][1-9])|([1-2][0-9])|([3][0-1]))[-](Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)[-](?:(?:19|20)[0-9]{2})$"
              );
          var zf_MandArray = ["Name_First", "Name_Last", "Email", "Dropdown", "Checkbox"];
          var zf_FieldArray = ["Name_First", "Name_Last", "Address_AddressLine1", "Address_AddressLine2", "Address_City",
              "Address_Region", "Address_ZipCode", "Address_Country", "Email", "PhoneNumber_countrycode", "Dropdown",
              "Checkbox", "Dropdown1", "Dropdown2", "Dropdown3", "Dropdown4", "SingleLine", "Dropdown5", "Dropdown6",
              "Checkbox1", "Dropdown7", "Dropdown8", "Dropdown9", "Dropdown10", "Checkbox2", "Checkbox3", "Checkbox4",
              "Dropdown11", "Dropdown12", "MultiLine"
          ];
          var isSalesIQIntegrationEnabled = false;
          var salesIQFieldsArray = [];
      </script>
    
<!--     	<div class="powr-form-builder" id="db8d49bb_1614237157"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script> -->
  </div>
    </div>

</section>

<style>
	.form-group {
    margin-bottom: 25px !important;
}
</style>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
